.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff
}

.container_1 {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .45), 0 4px 8px rgba(0, 0, 0, .35), 0 8px 12px rgba(0, 0, 0, .15)
}

.container_1 h2.title {
  font-size: 1.75rem;
  margin: 10px -5px;
  margin-bottom: 30px;
  color: #333;
  text-align: center
}

.container_1 h3.title {
  font-size: 1rem;
  margin: 10px -5px;
  margin-bottom: 30px;
  color: #333;
  text-align: center
}

.tools-field-title {
  position: relative;
  top: -10px;
  left: 8px;
  transform: translateY(-60%);
  font-weight: 900;
  color: #007bfe;
  text-transform: uppercase;
  font-size: .65rem;
  pointer-events: none;
  user-select: none
}

.show-copied {
  font-size: .8em;
  display: none;
  text-align: center;
  padding: .5em;
  border-radius: 3px;
  position: relative;
  bottom: -5px;
  transform: translateX(-50%)
}

footer {
  background: #add8e6;
  text-align: center;
  padding: 8px;
  color: #333;
  position: relative;
  background-color: #f5f5f5;
  text-align: center
}

#dark-mode-toggle-9 {
  --dark-mode-toggle-dark-icon:url(https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/img/sun.svg);
  --dark-mode-toggle-light-icon:url(https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/img/moon.svg);
  --dark-mode-toggle-icon-size: 2rem;
  --dark-mode-toggle-icon-filter: invert(100%);
  --dark-mode-toggle-checkbox-icon:var(--dark-mode-toggle-light-icon, url(https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/img/moon.svg));
  --dark-mode-toggle-checkbox-icon:var(--dark-mode-toggle-dark-icon, url(https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/img/sun.svg)
}